<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="engineer.davidauza.agenciaemd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TourGuideDetailActivity"></activity>
        <activity
            android:name=".activities.TourGuideMainActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TourGuideActivityStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MusicPlayerActivity"
            android:label="@string/music_player_activity_label"
            android:parentActivityName=".activities.MusicMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MusicMenuActivity" />
        </activity>
        <activity
            android:name=".activities.MusicMenuActivity"
            android:label="@string/music_menu_activity_label"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TestResultsActivity"
            android:label="@string/test_results_activity_label"
            android:theme="@style/TestResultsActivityStyle" />
        <activity
            android:name=".activities.TestMainActivity"
            android:label="@string/test_main_activity_label"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TejoCounterActivity"
            android:label="@string/tejo_counter_activity_label"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>